## 对 Pandas Series 执行算术运算

In [1]:
import pandas as pd

In [2]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [3]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [5]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [6]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [7]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [8]:
import numpy as np
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [9]:
# 各元素的平方根
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [10]:
# 各元素的指数函数的值
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [11]:
# 各元素的平方
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [12]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [13]:
fruits['bananas'] + 2

5

In [14]:
fruits.iloc[0] - 2

8

In [15]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [16]:
fruits.loc[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64

In [17]:
groceries = pd.Series(data = [30 ,6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [18]:
# 字符串相乘就是重复同一个字符串两次
# 字符串不可以除法 groceries / 2
groceries * 2

eggs          60
apples        12
milk      YesYes
bread       NoNo
dtype: object